common --enable_bzlmod

# default settings
build --incompatible_disallow_empty_glob
build --keep_going
build --verbose_failures
test --test_output=errors
run --color=yes

# hermetic toolchain
common --@rules_python//python/config_settings:bootstrap_impl=script
common --enable_platform_specific_config
build  --worker_sandboxing
build  --experimental_output_directory_naming_scheme=diff_against_dynamic_baseline

# windows
startup --windows_enable_symlinks
build --enable_runfiles

# build info inject — override with --define=VERSION=0.1.0 for releases
common --define=VERSION=0.0.0.dev0
